<app-header></app-header>
<div *ngIf="connected; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    Hello {{person}}<P>
	It is now up to you!</ng-template>
<ng-template #elseBlock>
    The database is not connected, launch the back-end and refresh this page
</ng-template>